body {
  background-color: rgb(234, 234, 234);
  overflow: auto;
  position: relative;
}
.ui.inverted.top.fixed.menu {
  background: #d2d0fe;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-color: #d2d0fe !important;
  height: 60vh;
  padding: "1em 0em";
}

/*end home page styles*/
.sentence_block {
  height: 75px;
  padding: 1em;
  background-color: #e4e0e0;
}

.sentence_block:empty:not(:focus)::before {
  content: attr(data-placeholder);
  color: rgb(128, 128, 128, 0.5);
}
